<hr class="my-4">
<div class="row g-4">
    <div class="text-center my-3">
        <button id="exportar-btn" class="btn btn-primary" style="width: auto; background-color: green;">
            <i class="fas fa-file-excel"></i> Exportar
        </button>
    </div>
    </div>
        <div class="col-12">
        <h5 class="mb-2">Frecuencia Fundamental (Hz)</h5>
        <div class="chart-scroll-container">
            <div id="graficoFrecuencia"></div>
        </div>
    </div>
    <div class="col-12">
        <h5 class="mb-2">Intensidad de la Voz (dB)</h5>
        <div class="chart-scroll-container">
            <div id="graficoIntensidad"></div>
        </div>
    </div>
    <div class="col-12">
        <h5 class="mb-2">Ruido Ambiental (dB)</h5>
        <div class="chart-scroll-container">
            <div id="graficoRuido"></div>
        </div>
    </div>
    <div class="col-12">
        <h5 class="mb-2">Temperatura (°C)</h5>
        <div class="chart-scroll-container">
            <div id="graficoTemperatura"></div>
        </div>
    </div>
    <div class="col-12">
        <h5 class="mb-2">Humedad Relativa (%)</h5>
        <div class="chart-scroll-container">
            <div id="graficoHumedad"></div>
        </div>
    </div>
    <div class="col-12">
        <h5 class="mb-2">Concentración de CO₂ (ppm)</h5>
        <div class="chart-scroll-container">
            <div id="graficoCO2"></div>
        </div>
    </div>
</div>
{% block extra_css %}
<style>
.chart-scroll-container {
    overflow-x: auto;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%;
}
.plot-inner {
    min-width: 3000px;
}
</style>
{% endblock %}