{% extends 'sideNavbar.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5"></div>
<p>Plataforma de adquisición de parámetros de voz y variables ambientales.</p>

<section>
    <h2>Cómo usar la plataforma</h2>
    <ol>
        <li>
            <strong>Instituciones</strong>
            <p>Accede a la plataforma utilizando tus credenciales. Si no tienes una cuenta, contacta al administrador para obtener acceso.</p>
        </li>
        <li>
            <strong>Profesores:</strong>
            <p>Utiliza la barra lateral para moverte entre las diferentes secciones de la plataforma.</p>
        </li>
        <li>
            <strong>Dispositivos IoT:</strong>
            <p>En la sección correspondiente, inicia el proceso de adquisición de parámetros de voz y variables ambientales siguiendo las instrucciones proporcionadas.</p>
        </li>
        <li>
            <strong>Visualización de datos:</strong>
            <p>Revisa los datos adquiridos en tiempo real o accede al historial para análisis posteriores.</p>
        </li>
       
    </ol>
</section>
{% endblock %}
