{% load static %}

<div class="modal fade" id="modalAgregarInstitucion" tabindex="-1" aria-labelledby="modalAgregarInstitucionLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <form method="POST" action="{% url 'crear_institucion' %}">
      {% csrf_token %}
      <div class="modal-header">
      <h5 class="modal-title" id="modalAgregarInstitucionLabel">Agregar Nueva Institución</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
  
      <div class="row">
        <div class="mb-3 col-md-6">
        <label for="nombre_institucion" class="form-label">Nombre Institución</label>
        <input type="text" id="nombre_institucion" name="nombre_institucion" class="form-control" placeholder="Ingrese nombre" required>
        </div>
        <div class="mb-3 col-md-6">
        <label for="rut_institucion" class="form-label">RUT Institución</label>
        <input type="text" id="rut_institucion" name="rut_institucion" class="form-control" placeholder="123456789-0" required>
        </div>
      </div>
  
      <div class="row">
        <div class="mb-3 col-md-6">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Ingrese dirección" required>
        </div>
        <div class="mb-3 col-md-6">
        <label for="telefono_institucion" class="form-label">Teléfono</label>
        <input type="text" id="telefono_institucion" name="telefono_institucion" class="form-control" placeholder="Ingrese teléfono" required>
        </div>
      </div>
  
      <div class="row">
        <div class="mb-3 col-md-6">
        <label for="correo_institucion" class="form-label">Correo Electrónico</label>
        <input type="email" id="correo_institucion" name="correo_institucion" class="form-control" placeholder="example@gmail.com" required>
        </div>
        <div class="mb-3 col-md-6">
        <label for="sitio_web" class="form-label">Sitio Web</label>
        <input type="text" id="sitio_web" name="sitio_web" class="form-control" placeholder="Ingrese sitio web">
        </div>
      </div>
  
      <div class="mb-3">
        <label for="representante_legal" class="form-label">Representante Legal</label>
        <input type="text" id="representante_legal" name="representante_legal" class="form-control" placeholder="Ingrese representante legal" required>
      </div>
  
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-success">Agregar</button>
      </div>
    </form>
    </div>
  </div>
  </div>
