<div class="modal fade" id="modalDetalleInstitucion" tabindex="-1" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel">Detalles de la Institución</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <strong>Nombre Institución:</strong>
              <p id="detalleNombre"></p>
            </div>
            <div class="col-md-6">
              <strong>RUT Institución:</strong>
              <p id="detalleRut"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Dirección:</strong>
              <p id="detalleDireccion"></p>
            </div>
            <div class="col-md-6">
              <strong>Teléfono:</strong>
              <p id="detalleTelefono"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Correo Electrónico:</strong>
              <p id="detalleCorreo"></p>
            </div>
            <div class="col-md-6">
              <strong>Sitio Web:</strong>
              <p id="detalleSitioWeb"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Representante Legal:</strong>
              <p id="detalleRepresentanteLegal"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Fecha de Creación:</strong>
              <p id="detalleFechaCreacion"></p>
            </div>
            <div class="col-md-6">
              <strong>Última Modificación:</strong>
              <p id="detalleUltimaModificacion"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
