{% extends 'sideNavbar.html' %}
{% load static %}
{% block title %}FACSA{% endblock %}

{% block content %}
{% if messages %}
<div class="container mt-3">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
  {% endfor %}
</div>
{% endif %} 

<body style="background-color: #f3f3f3;">
  <!-- <h1 class="text-primary">Cargando profesores </h1>
  <p>Plataforma de adquisición de parámetros de voz y variables ambientales.</p>
  <p>profesores que participan en el proyecto:</p> -->

  <div class="card mb-3" style="background-color: white;"> 

    <div class="card-body text-center" style="background-color: white;">
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarProfesor">Agregar Profesor</a>
      <a href="{% url 'exportar_profesores_y_horarios_csv' %}" class="btn btn-success">Exportar a Excel</a>
 </div>
      {% include 'profesores/modals/agregar.html' %}

      <!-- Buscador -->
      <form method="get" id="formBuscadorProfesores" class="mb-3 d-flex gap-2">
        <input type="text" name="busqueda" class="form-control" placeholder="Buscar por nombre o ID" value="{{ request.GET.busqueda }}" style="width: 90%; margin-left: 1%;">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    
      {% include 'profesores/tabla-profesores.html' %}

      
      {% include 'profesores/modals/detalle.html' %}
      {% include 'profesores/modals/editar.html' %}
      {% include 'profesores/modals/eliminar.html' %}
      {% include 'profesores/modals/horario.html' %}
    {% endblock %}
    

  




    </div>

    {% block extra_js %}
    <script src="{% static 'js/profesores-js/detalle.js' %}"></script>
    <script src="{% static 'js/profesores-js/editar.js' %}"></script>
    <script src="{% static 'js/profesores-js/eliminar.js' %}"></script>
    <script src="{% static 'js/profesores-js/horario.js' %}"></script>
    <script src="{% static 'js/profesores-js/buscador.js' %}"></script>
  {% endblock %}

  </div>
    



</body>
