<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tablaInstituciones">
        <thead>
            <tr>
              <th>
                <a href="?orden=nombre_institucion&direccion={% if request.GET.direccion == 'asc' and request.GET.orden == 'nombre_institucion' %}desc{% else %}asc{% endif %}">
                  Nombre Institución
                  {% if request.GET.orden == 'nombre_institucion' %}
                    {% if request.GET.direccion == 'asc' %} ↑
                    {% else %} ↓
                    {% endif %}
                  {% endif %}
                </a>
              </th>
              
              <th>
                <a href="?orden=rut_institucion&direccion={% if request.GET.direccion == 'asc' and request.GET.orden == 'rut_institucion' %}desc{% else %}asc{% endif %}">
                  RUT Institución
                  {% if request.GET.orden == 'rut_institucion' %}
                    {% if request.GET.direccion == 'asc' %} ↑
                    {% else %} ↓
                    {% endif %}
                  {% endif %}
                </a>
              </th>
              
              
              
                <th>Dirección</th>
                <th>Detalle</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Aulas</th>

            </tr>
        </thead>

        <tbody>
            {% for institucion in page_obj %}
            <tr>
              <td class="nombre">{{ institucion.nombre_institucion }}</td>
              <td class="rut">{{ institucion.rut_institucion }}</td>
              
              <td>{{ institucion.direccion }}</td>
                

                <td class="text-center">
                    <a href="#" class="text-info"
                    data-bs-toggle="modal"
                    data-bs-target="#modalDetalleInstitucion"
                    data-nombre="{{ institucion.nombre_institucion }}"
                    data-rut="{{ institucion.rut_institucion }}"
                    data-direccion="{{ institucion.direccion }}"
                    data-telefono="{{ institucion.telefono_institucion }}"
                    data-correo="{{ institucion.correo_institucion }}"
                    data-sitio_web="{{ institucion.sitio_web }}"
                    data-representante_legal="{{ institucion.representante_legal }}"
                    data-created_at="{{ institucion.created_at }}"
                    data-updated_at="{{ institucion.updated_at }}">
                    <i class="fas fa-eye" style='color:rgb(13, 138, 25)'></i>
                    </a>
                </td>


                <td class="text-center">
                    <a href="#" class="text-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modalEditarInstitucion"
                    data-url="{% url 'editar_institucion' institucion.pk %}"
                    data-nombre="{{ institucion.nombre_institucion }}"
                    data-rut="{{ institucion.rut_institucion }}"
                    data-direccion="{{ institucion.direccion }}"
                    data-sitio_web="{{ institucion.sitio_web }}"
                    data-representante_legal="{{ institucion.representante_legal }}"
                    data-telefono="{{ institucion.telefono_institucion }}"
                    data-correo="{{ institucion.correo_institucion }}">
                    <i class="fas fa-file-signature"></i>
                 </a>
                                         </td>




                <td class="text-center">
                    
                    
                    <a href="{% url 'eliminar_institucion' institucion.pk %}" 
                        class="text-danger" 
                        data-bs-toggle="modal"
                        data-bs-target="#confirmarEliminacionModal"
                        data-url="{% url 'eliminar_institucion' institucion.pk %}"
                        data-nombre="{{ institucion.nombre_institucion }}">
                        <i class="far fa-trash-alt"></i>
                </a>

                </td>

                <td class="text-center">
                  <a href="#" class="text-primary" data-bs-toggle="modal"
                     data-bs-target="#modalAulas"
                     data-institucion-id="{{ institucion.pk }}"
                     data-institucion-nombre="{{ institucion.nombre_institucion }}">
                      <i class="fas fa-chalkboard"></i>
                  </a>
              </td>
              


            </tr>
            {% endfor %}
        </tbody>

        
        
    </table>
    <div class="pagination justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
                {% endif %}
    
                {% for page in page_range %}
                    {% if page == '…' %}
                        <li class="page-item disabled"><span class="page-link">…</span></li>
                    {% elif page == page_obj.number %}
                        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>