<div class="table-responsive">
  <table class="table table-bordered table-hover" id="tablaDispositivosIoT">
    <thead>
      <tr>
        <th>MAC</th>
        <th>Tipo de Dispositivo</th>
        <th>Usuario</th>
        <th>Institución</th>
        <th>Asignar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for dispositivo in dispositivos %}
      <tr>
        <td>{{ dispositivo.mac }}</td>
        <td>{{ dispositivo.tipo }}</td>
        <td>
          {% if dispositivo.usuario %}
            {{ dispositivo.usuario }}
          {% else %}
            Libre
          {% endif %}
        </td>
        <td>
          {% if dispositivo.institucion %}
            {{ dispositivo.institucion }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>
          <a 
            href="#"
            class="text-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#asignarDispositivoModal"
            data-mac="{{ dispositivo.mac }}"
            data-tipo="{{ dispositivo.tipo }}"
            >
            <i class="fas fa-user-plus"></i>
          </a>
        </td>
        <td>
            <a 
            href="{% url 'eliminar_dispositivo' dispositivo.mac %}" 
            class="text-danger" 
            data-bs-toggle="modal" 
            data-bs-target="#confirmarEliminacionModal" 
            data-url="{% url 'eliminar_dispositivo' dispositivo.mac %}" 
            data-dispositivo="{{ dispositivo.mac }}">
            <i class="far fa-trash-alt"></i>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% endif %}
  
            {% for page in page_range %}
                {% if page == '…' %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% elif page == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
  
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
  </div>
  
  

</div>
