<div class="table-responsive">
  <table class="table table-bordered table-hover" id="tablaDispositivosIoT">
    <thead>
      <tr>
        <th>MAC</th>
        <th>Tipo de Dispositivo</th>
        <th>Usuario</th>
        <th>Institución</th>
        <th>Asignar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for dispositivo in dispositivos %}
      <tr>
        <td>{{ dispositivo.mac }}</td>
        <td>{{ dispositivo.tipo }}</td>
        <td>
          {% if dispositivo.usuario %}
            {{ dispositivo.usuario }}
          {% else %}
            Libre
          {% endif %}
        </td>
        <td>
          {% if dispositivo.institucion %}
            {{ dispositivo.institucion }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>
          <a 

            class="btn btn-sm btn-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#asignarDispositivoModal"
            data-mac="{{ dispositivo.mac }}"
            data-tipo="{{ dispositivo.tipo }}"
            >
            <i class="fas fa-user-plus"></i>
          </a>
        </td>
        <td>
            <a 
            href="{% url 'eliminar_dispositivo' dispositivo.mac %}" 
            class="text-danger" 
            data-bs-toggle="modal" 
            data-bs-target="#confirmarEliminacionModal" 
            data-url="{% url 'eliminar_dispositivo' dispositivo.mac %}" 
            data-dispositivo="{{ dispositivo.mac }}">
            <i class="far fa-trash-alt"></i>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


