{% load static %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<div class="modal fade" id="modalAgregarProfesor" tabindex="-1" aria-labelledby="modalAgregarProfesorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="formulario_profesor" method="POST" action="{% url 'crear_profesor' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="modalAgregarProfesorLabel">Agregar Nuevo Profesor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
  
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="rut_profesor">RUT</label>
                <input type="text" id="rut_profesor" name="rut_profesor" class="form-control" placeholder="123456789-0" required>  
                <span id="rut-error" class="text-danger small"></span>
              </div>
              <div class="mb-3 col-md-6">
                <label for="correo_profesor">Correo</label>
                <input type="email" id="correo_profesor" name="correo_profesor" class="form-control" placeholder="example@gmail.com" required>
                <span id="correo-error" class="text-danger small"></span>
              </div>
            </div>
  
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="nombre_profesor">Nombre</label>
                <input type="text" id="nombre_profesor" name="nombre_profesor" class="form-control" placeholder="Ingrese nombre" required>
                <span id="nombre-error" class="text-danger small"></span>
              </div>
              <div class="mb-3 col-md-6">
                <label for="apellido_profesor">Apellido</label>
                <input type="text" id="apellido_profesor" name="apellido_profesor" class="form-control" placeholder="Ingrese apellido" required>
                <span id="apellido-error" class="text-danger small"></span>
              </div>
            </div>
  
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="sexo" class="form-label">Sexo</label>
                <select class="form-select" name="sexo" required>
                  <option value="" selected disabled>Seleccione</option>
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
                </select>
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_institucion" class="form-label">Institución</label>
                <select class="form-select" name="id_institucion" required>
                  <option value="" selected disabled>Seleccione institución</option>
                  {% for institucion in instituciones %}
                    <option value="{{ institucion.id_institucion }}">{{ institucion.nombre_institucion }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
  
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="altura">Altura (cm)</label>
                <input type="number" id="altura" name="altura" class="form-control" placeholder="170 cm" required>
                <span id="altura-error" class="text-danger small"></span>
              </div>
              <div class="mb-3 col-md-6">
                <label for="peso">Peso (kg)</label>
                <input type="number" id="peso" name="peso" class="form-control" placeholder="70 kg" required>
                <span id="peso-error" class="text-danger small"></span>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="antecedentes_medicos"">Antecedentes Médicos</label>
              <input type="text" id="antecedentes_medicos" name="antecedentes_medicos" class="form-control" required>
              <span id="antecedentes-error" class="text-danger small"></span>
            </div>
  
            <div class="mb-3">
              <label for="area_docencia">Área de Docencia</label>
              <input type="text" id="area_docencia" name="area_docencia" class="form-control" required>
              <span id="area-docencia-error" class="text-danger small"></span>
            </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>
          <script src="{% static 'js/profesores-js/validar.js' %}"></script>
        </form>
      </div>
    </div>
  </div>
  