<div class="card-body text-center" style="background-color: white;">
  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarInstitucion">Agregar Institución</a>
  <a href="{% url 'exportar_instituciones_csv' %}" class="btn btn-success">
    <i class="fas fa-file-excel"></i> Exportar
  </a>
</div>

{% include 'instituciones/modals/agregar.html' %}

<!-- Buscador -->
<form method="get" id="formBuscadorInstituciones" class="mb-3 d-flex gap-2">
  <input type="text" name="busqueda" class="form-control" placeholder="Buscar por nombre o RUT" value="{{ request.GET.busqueda }}" style="width: 90% !important; margin-left: 1% !important;">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>

{% include 'instituciones/tabla-instituciones.html' %}
{% include 'instituciones/modals/detalle.html' %}
{% include 'instituciones/modals/editar.html' %}
{% include 'instituciones/modals/eliminar.html' %}
{% include 'instituciones/modals/aulas.html' %}
